body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
h1{
  font-size: 50px;  
}
h2{
    font-size: 40px;
}
.orange-highlight{
    display: flex;
    color: orange;
}
.dot{animation: animate 3s ease-in-out infinite;}
.dot:nth-child(2){animation-delay: 0.1s;}
.dot:nth-child(3){animation-delay: 0.2s;}
.dot:nth-child(4){animation-delay: 0.3s;}
.dot:nth-child(5){animation-delay: 0.4s;}
.dot:nth-child(6){animation-delay: 0.5s;}
.dot:nth-child(7){animation-delay: 0.6s;}
.dot:nth-child(8){animation-delay: 0.7s;}
.dot:nth-child(9){animation-delay: 0.8s;}
.dot:nth-child(10){animation-delay: 0.9s;}
.dot:nth-child(11){animation-delay: 1s;}
.dot:nth-child(12){animation-delay: 1.1s;}
.dot:nth-child(13){animation-delay: 1.2s;}
.dot:nth-child(14){animation-delay: 1.3s;}
.dot:nth-child(15){animation-delay: 1.4s;}
@keyframes animate{
    90%,100%{
        transform: scale(0.5);
    }
    0%{
        transform: scale(1);
    }
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-ban{
    background-image: url("imeges/top-banner.png");
    background-repeat: no-repeat ;
}
section{
    height: 500px;
}
.in-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(226, 144, 76), rgb(245, 61, 28));
    padding: 10px 20px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: bold;
}
.dream-area{
    background-image: url("imeges/dream-bg.png");
    background-repeat: no-repeat;
    background-position:right ;
    margin-bottom: 20%;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 70%;
}
.experience-area{
    background-image: url("imeges/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightSalmon,tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
footer p{
  text-align: center;  
}

/*Mobaile View*/
@media (max-width:600px){
    h1{font-size: 75%;}
    h3{font-size: 44%;}
    p{font-size: 42%;}
    .in-button{font-size:15%;}
    .top-ban{width: ;}
    .dream-area{margin-bottom:0%;}
    section{height: 200px;}
    h2{font-size: 60%;}
    }
